__pycache__/
# *.py[cod]
# *$py.class

results/
!experiment_results*/

.env
.venv
venv/
ENV/
env/
venv.bak/

*.log
*.cache
*.pid
*.gz
*.tmp
*.png

build/
dist/
*.egg-info/
.eggs/
*.egg

.vscode/
.idea/
*.iml

# 排除所有模型文件，但保留models文件夹中的文件
*.pth
*.pt
*.onnx
*.npz
!models/*.pth
!models/*.pt
!models/*.npz
data/
checkpoints/
